Repository iamgio/quarkdown, pull requests merged in 2025-06, with the labels that each got.

#46 Fix StackOverflowError on table lexing
  quarkdown-core/src/main/kotlin/com/quarkdown/core/lexer/patterns/BaseMarkdownBlockTokenRegexPatterns.kt
  quarkdown-test/src/test/kotlin/com/quarkdown/test/NodesTest.kt
  quarkdown-test/src/test/kotlin/com/quarkdown/test/TablesTest.kt
Labels: bug

#47 Add german localization
  quarkdown-libs/src/main/resources/paper.qmd
  quarkdown-stdlib/src/main/resources/lib/localization.qmd
Labels: localization

#66 feat(quarkdoc): show additional function metadata
  quarkdown-core/src/main/kotlin/com/quarkdown/core/function/reflect/annotation/QuarkdocAnnotations.kt
  quarkdown-quarkdoc-reader/README.md
  quarkdown-quarkdoc-reader/src/main/kotlin/com/quarkdown/quarkdoc/reader/DocsContentExtractor.kt
  quarkdown-quarkdoc-reader/src/main/kotlin/com/quarkdown/quarkdoc/reader/DocsFunction.kt
  quarkdown-quarkdoc-reader/src/main/kotlin/com/quarkdown/quarkdoc/reader/dokka/DokkaHtmlContentExtractor.kt
  quarkdown-quarkdoc-reader/src/test/kotlin/com/quarkdown/quarkdoc/reader/DokkaReaderTest.kt
  quarkdown-quarkdoc-reader/src/test/resources/content/container.html
  quarkdown-quarkdoc-reader/src/test/resources/content/isnone.html
  quarkdown-quarkdoc-reader/src/test/resources/content/lowercase.html
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/QuarkdocDokkaPlugin.kt
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/page/LikelyChainedPageTransformer.kt
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/signature/QuarkdownSignatureProvider.kt
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/transformers/QuarkdocParameterDocumentationTransformer.kt
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/transformers/enumeration/EnumParameterEntryListerTransformer.kt
  quarkdown-quarkdoc/src/main/kotlin/com/quarkdown/quarkdoc/dokka/transformers/optional/AdditionalParameterPropertiesTransformer.kt
  quarkdown-quarkdoc/src/main/resources/styles/stylesheet.css
  quarkdown-quarkdoc/src/test/kotlin/com/quarkdown/quarkdoc/dokka/AdditionalParameterPropertiesTransformerTest.kt
  quarkdown-quarkdoc/src/test/kotlin/com/quarkdown/quarkdoc/dokka/LikelyChainedTransformerTest.kt
  quarkdown-quarkdoc/src/test/kotlin/com/quarkdown/quarkdoc/dokka/NameTransformerTest.kt
  quarkdown-quarkdoc/src/test/kotlin/com/quarkdown/quarkdoc/dokka/QuarkdocDokkaTest.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Collection.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Data.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Dictionary.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Document.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Ecosystem.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Flow.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Injection.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Layout.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Localization.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Logical.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Math.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Mermaid.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Optionality.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Slides.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/String.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/TableComputation.kt
  quarkdown-stdlib/src/main/kotlin/com/quarkdown/stdlib/Text.kt
Labels: enhancement, quarkdoc

#75 feat: let paged documents generate single-page PDFs
  quarkdown-cli/src/test/kotlin/com/quarkdown/cli/CompileCommandTest.kt
  quarkdown-core/src/main/kotlin/com/quarkdown/core/rendering/template/TemplatePlaceholders.kt
  quarkdown-html/src/main/kotlin/com/quarkdown/rendering/html/post/HtmlPostRenderer.kt
  quarkdown-html/src/main/resources/pdf/pdf.js
  quarkdown-html/src/main/resources/render/html-wrapper.html.template
  quarkdown-html/src/main/resources/render/theme/global.css
Labels: enhancement

#110 chore(cli): make `c` alias for `compile`
  quarkdown-cli/src/main/kotlin/com/quarkdown/cli/QuarkdownCli.kt
  quarkdown-cli/src/main/kotlin/com/quarkdown/cli/exec/CompileCommand.kt
Labels: cli

#117 fix Japanese translations
  quarkdown-libs/src/main/resources/paper.qd
  quarkdown-stdlib/src/main/resources/lib/localization.qd
Labels: localization
